div.bestOffers{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    >div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        >div.picture{
            width: 36%;
            height:550px;
            position: relative;
            overflow: hidden;
            >div.circle{
                position: absolute;
                right: -140px;
                width: 392px;
                height: 392px;
                background-color: rgb(178, 175, 239);
                border-radius: 50%;
                opacity: 0.2;
            }
            >div.pic{
                position: absolute;
                top: 50px;
                right: 50px;
                >img{
                    border-radius: 5px;
                }
                >span{
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 46px;
                    overflow: hidden;
                    position: absolute;
                    bottom: 70px;
                    right: 0;
                    color: rgb(51, 51, 51);
                    cursor: pointer;
                    text-transform: uppercase;
                    text-align: center;
                }
                >button{
                    width: 145px;
                    height: 45px;
                    cursor: pointer;
                    position: absolute;
                    left: 80px;
                    bottom: 25px;
                    border-radius: 25px;
                    background: rgba(12, 12, 12, 0.495);
                    font-size: 14px;
                    padding: 10px 30px;
                    letter-spacing: 0.3px;
                    color: rgb(51, 51, 51);
                    border: none;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        >div.field{
            width: 64%;
            height: 550px;
            >div.up{
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                >span{
                    width: 50%;
                    color: rgb(51, 51, 51);
                    font-size: 40px;
                    font-weight: bold;
                }
                div{
                    width: 50%;
                    >button{
                        margin-left: 20px;
                        background-color: transparent;
                        font-weight: bold;
                        font-size: 14px;
                        border-radius:25px ;
                        width: 127px;
                        height: 45px;
                        text-transform: uppercase;
                        box-shadow: none;
                        color: rgb(51, 51, 51);
                        border: 1px solid rgb(51, 51, 51);
                        &:hover{
                            background-color: rgb(223, 222, 222);
                        }
                    }
                }
            }
            div.down{
                width: 100%;
                height: 450px;
                display: flex;
                flex-direction: row-reverse;
                column-gap: 15px;
                >div{
                    height: 100%;
                    width: 23%;
                    display: flex;
                    flex-direction: column;
                    >div.aks{
                        width: 100%;
                        height: 50%;
                        overflow: hidden;
                        position: relative;
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 4px;
                            &:hover{
                                transform: scale(1.05);
                                transition: 600ms;
                            }
                        }
                        >div.grey{
                            width: auto;
                            margin-top: 10px;
                            margin-left: 10px;
                            height: 30px;
                            background-color:rgb(107, 107, 107);;
                            position: absolute;
                            top: 0;
                            overflow: hidden;
                            border-radius: 5px;
                            >span{
                                color: #fff;
                                padding: 10px;
                                line-height: 30px;
                                text-transform: capitalize;
                            }
                        }
                        >div.white{
                            background-color: #fff;
                            box-shadow: 1px 1px 1px grey;
                            overflow: hidden;
                            box-shadow: 1px 1px 1px 1px rgb(176, 176, 176);
                            border-radius: 50%;
                            width: 43px;
                            height: 43px;
                            position: absolute;
                            cursor: pointer;
                            bottom: 15px;
                            right: 15px;
                            transition: 500ms;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            >svg{
                                width: 28px;
                                height: 28px;
                                fill: #fff;
                                stroke: rgb(51, 51, 51);
                                &:hover{
                                    fill: rgb(51, 51, 51);;
                                }
                            }
                        }
                    }
                    >h6{
                        color: rgb(85, 85, 85);
                        font-size: 10px;
                        height: 15px;
                        letter-spacing: 2px;
                        line-height: 15px;
                        margin: 10px 0px;
                        text-align: left;
                        text-transform: uppercase;
                        width: 100%;
                    }
                    >p{
                        font-size: 14px;
                        height: 38px;
                        line-height: 19px;
                        margin-bottom: 10px;
                        overflow: hidden;
                        text-align: left;
                        color: rgb(85, 85, 85);
                    }
                    >span{
                        font-size: 1rem;
                        overflow: hidden;
                        font-weight: 700;
                        margin-right: 5px;
                        max-width: 50%;
                        text-overflow: ellipsis;
                        color: #333;
                        &::after{
                            content: "£38.00";
                            margin-left: 8px;
                            text-decoration: line-through;
                        }                        
                    }
                    div.rate{
                        width: 100%;
                        height: auto;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        >div{
                        width: 17px;
                        height: 17px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        >svg{
                            width: 15px;
                            height: 15px;
                            fill: rgb(128, 205, 208) !important;
                        }
                        >span{
                            font-size: 12px;
                            font-weight: 600;
                        }
                        }
                    }
                }
            }
        }
    }
}