div.free{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 320px;
    background-color: rgb(238, 237, 248);
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 60px;
    >div{
        width: 22%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
        padding: 15px;
        h2{
            color: rgb(85, 85, 85);
        }
        p{     
          color: rgb(85, 85, 85);
        }
        button{
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            box-shadow: none;
            color: rgb(51, 51, 51);
            border: 1px solid rgb(51, 51, 51);
            border-radius: 25px;
            padding: 15px;
            align-self: center;
            width: 165px;
            &:hover{
                background-color:rgb(229, 228, 228) ;
            }
        }
    }
}